name: Insider Tracker Automation
on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:
jobs:
  run-tracker:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install
        run: pip install pandas requests
      - name: Run
        env:
          EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
        run: |
          python insider.tracker.py
          git config --global user.name "EagleEyeBot"
          git config --global user.email "bot@eagleeye.com"
          git add latest_trades.csv
          git commit -m "Update insider data [skip ci]" || echo "No changes"
          git push
